apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-scylladb
  labels:
    app: {{ $.Release.Name }}-scylladb
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 9042
      targetPort: 9042
  selector:
    app: {{ $.Release.Name }}-scylladb