kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "jupyterhub.hub-pvc.fullname" . }}
  labels:
    {{- include "jupyterhub.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
