apiVersion: v1
kind: Service
metadata:
  name: {{ template "dgraph.zero.fullname" . }}-headless
  namespace: {{ include "dgraph.namespace" . }}
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: "zero"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: grpc-zero
      port: 5080
      targetPort: 5080
  selector:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    release: {{ .Release.Name }}
    component: "zero"
  publishNotReadyAddresses: true
