version: 10.3.22-debian-10-r27

replication:
  enabled: true

master:
  resources:
    requests:
      cpu: "500m"
      memory: "256M"
    limits:
      cpu: "1500m"
      memory: "1Gi"
  persistence:
    size: 10Gi
  
slave:
  replicas: 1

  resources:
    requests:
      cpu: "500m"
      memory: "256M"
    limits:
      cpu: "1500m"
      memory: "1Gi"

  persistence:
    size: 10Gi
