image:
  registry: docker.io
  repository: bitnami/mariadb
  tag: 10.3.22-debian-10-r27
  pullPolicy: IfNotPresent
  debug: false


rootUser:
  password: "root"
  forcePassword: false
  injectSecretsAsVolume: false



replication:
  enabled: true
  user: replicator
  password: "root"
  forcePassword: false
  injectSecretsAsVolume: false

master:
  resources:
    requests:
      cpu: "500m"
      memory: "256M"
    limits:
      cpu: "1500m"
      memory: "1Gi"

  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3

slave:
  replicas: 1

  resources:
    requests:
      cpu: "500m"
      memory: "256M"
    limits:
      cpu: "1500m"
      memory: "1Gi"

  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3

diskSize: 10

services: