{{- range $index, $service := .Values.services }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-{{ $service.name }}-init-script
  namespace: {{ $.Release.Namespace }}
data:
  db-init.sql: |
    CREATE DATABASE IF NOT EXISTS "{{ $service.database }}";
    USE "{{ $service.database }}";
    CREATE USER IF NOT EXISTS "{{ $service.name }}-user";
    GRANT ALL ON DATABASE "{{ $service.database }}" TO "{{ $service.name }}-user";
---
{{- end }}
