apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-postgres-headless
  labels:
    app: {{ template "postgresql.name" . }}
    chart: {{ template "postgresql.chart" . }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: tcp-postgresql
    - name: metrics-port
      port: 2121
      targetPort: 2121
  selector:
    app: {{ template "postgresql.name" . }}
    release: {{ .Release.Name | quote }}
