apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-redis-headless-service"
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: master
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: tcp-redis
    port: 6379
    targetPort: 6379
  selector:
    app: {{ .Release.Name }}-redis