apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/part-of: redis
    app: {{ .Release.Name }}-redis
spec:
  replicas: 1
  serviceName: "{{ .Release.Name }}-redis-headless-service"
  selector:
    matchLabels:
      app.kubernetes.io/part-of: redis
      app: {{ .Release.Name }}-redis
  updateStrategy:
    type: {{ .Values.updateStrategy.type }}
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: redis
        app: {{ .Release.Name }}-redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.image }}
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu}}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          env:
            - name: REDIS_PORT
              value: "6379"
          ports:
            - containerPort: 3306
          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 10


          volumeMounts:
            - name: {{.Release.Name }}-redis-persistent-storage
              mountPath: /var/lib/redis
      volumes:
        - name: redis-config
          configMap:
            name: "{{ .Release.Name }}-redis-configmap"
  volumeClaimTemplates:
    - metadata:
        name: {{.Release.Name }}-redis-persistent-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.diskSize }}
