apiVersion: v1
kind: Service
metadata:
  name: {{ include "chromadb.fullname" . }}
  labels:
    {{- include "chromadb.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "chromadb.selectorLabels" . | nindent 4 }}
