image:
  registry: docker.io
  repository: confluentinc/cp-kafka
  tag: "7.8.0"
  pullPolicy: IfNotPresent
imagePullSecrets:  []

replicaCount: 2
maxUnavailable: 1

acls:
  enabled: false

zookeeper:
  enabled: true
  url: "" ## If not enabled provide the zookeeper url

livenessProbe:
  enabled: true
  initialDelaySeconds: 300
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

podSecurityContext:
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsUser: 1000
  runAsGroup: 1000
  capabilities:
    drop:
    - ALL

resources:
  requests:
    cpu: "500m"
    memory: "500Mi"
  limits:
    cpu: "1000m"
    memory: "1500Mi"

diskSize : 10Gi


## Kafka Configs
heapOpts: -XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=50.0
confluentSupportMetricsEnable: false
autoCreateTopicsEnable: false
deleteTopicEnable: true
offsetsTopicReplicationFactor: 3
numPartitions: 3
defaultReplicationFactor: 3
minInsyncReplicas: 2
uncleanLeaderElectionEnable: false
logFlushIntervalMessages: 10000
logFlushIntervalMs: 1000
logRetentionBytes: 1073741824
logRetentionCheckIntervalMs: 300000
logRetentionHours: 168
logSegmentBytes: 1073741824
messageMaxBytes: 1048588

log4jRootLoglevel: INFO
log4jLoggers: "kafka.authorizer.logger=INFO,kafka.controller=INFO"

port:
  kafkaInternal: 9092
  kafkaExternal: 9094
externalAccess:
  enabled: false
  initNodePort: 32400
isDocker: true


