apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-surrealdb
  namespace: {{ .Release.Namespace | quote }}
spec:
  selector:
    app.kubernetes.io/part-of: surrealdb
    app: {{ $.Release.Name }}-surrealdb
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000