apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-opentsdb-configmap"
  namespace: {{ .Release.Namespace | quote }}
data:
  OPENTSDB_HOST: {{ $.Release.Name }}-opentsdb
  OPENTSDB_PORT: "4242"