apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-opentsdb
  namespace: {{ .Release.Namespace | quote }}
spec:
  selector:
    app.kubernetes.io/part-of: opentsdb
    app: {{ $.Release.Name }}-opentsdb
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 4242
      targetPort: 4242