apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-redis
  labels:
    app: {{ .Release.Name }}-redis
    release: prometheus
spec:
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-redis"
  endpoints:
    - port: metrics-port
      interval: 30s
      path: /metrics