apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "master.fullname" . }}
  labels:
    app: {{ template "mariadb.name" . }}
    chart: {{ template "mariadb.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: master
spec:
  selector:
    matchLabels:
      app: {{ template "mariadb.name" . }}
      release: {{ .Release.Name }}
      component: master
  serviceName: {{ template "master.fullname" . }}
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ template "mariadb.name" . }}
        chart: {{ template "mariadb.chart" . }}
        release: {{ .Release.Name }}
        component: master
    spec:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: {{ template "mariadb.name" . }}
                    release: {{ .Release.Name }}
      containers:
        - name: "mariadb"
          image: {{ template "mariadb.image" . }}
          imagePullPolicy: "IfNotPresent"
          env:
            {{- if .Values.master.extraFlags }}
            - name: MARIADB_EXTRA_FLAGS
              value: "{{ .Values.master.extraFlags }}"
            {{- end }}
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-mariadb-secrets"
                  key: mariadb-root-password
            {{- if .Values.replication.enabled }}
            - name: MARIADB_REPLICATION_MODE
              value: "master"
            - name: MARIADB_REPLICATION_USER
              value: "replicator"
            - name: MARIADB_REPLICATION_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-mariadb-secrets"
                  key: mariadb-replication-password
            {{- end }}
            {{- if .Values.master.extraEnvVars }}
            {{- tpl (toYaml .Values.master.extraEnvVars) $ | nindent 12 }}
            {{- end }}
          ports:
            - name: mysql
              containerPort: 3306
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  password_aux="${MARIADB_ROOT_PASSWORD:-}"
                  if [ -f "${MARIADB_ROOT_PASSWORD_FILE:-}" ]; then
                      password_aux=$(cat $MARIADB_ROOT_PASSWORD_FILE)
                  fi
                  mysqladmin status -uroot -p$password_aux
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  password_aux="${MARIADB_ROOT_PASSWORD:-}"
                  if [ -f "${MARIADB_ROOT_PASSWORD_FILE:-}" ]; then
                      password_aux=$(cat $MARIADB_ROOT_PASSWORD_FILE)
                  fi
                  mysqladmin status -uroot -p$password_aux
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          resources:
            requests:
              memory: {{ .Values.master.resources.requests.memory }}
              cpu: {{ .Values.master.resources.requests.cpu }}
            limits:
              memory: {{ .Values.master.resources.limits.memory }}
              cpu: {{ .Values.master.resources.limits.cpu }}
          volumeMounts:
            - name: data
              mountPath: /data/mariadb
            - name: config
              mountPath: /opt/bitnami/mariadb/conf/my.cnf
              subPath: my.cnf

        - name: mariadb-exporter
          image: prom/mysqld-exporter:v0.15.1
          ports:
            - containerPort: 2121
              name: metrics
          env:
            - name: MYSQLD_EXPORTER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-mariadb-secrets"
                  key: mariadb-root-password
          args:
            - "--mysqld.username=root"
            - "--web.listen-address=:2121"
            - "--log.level=debug"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
      volumes:
        - name: config
          configMap:
            name: "{{ .Release.Name }}-master-mariadb-configmap"
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          app: "{{ template "mariadb.name" . }}"
          component: "master"
          release: {{ .Release.Name | quote }}
          heritage: {{ .Release.Service | quote }}
      spec:
        accessModes: [ReadWriteOnce]
        resources:
          requests:
            storage: {{ .Values.master.persistence.size}}