apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}

    scrape_configs:
      - job_name: "https-uptime"
        metrics_path: /probe
        params:
          module: [https_2xx]
        static_configs:
          - targets:
{{- range .Values.targets }}
              - {{ . }}
{{- end }}
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackbox-exporter:{{ .Values.blackbox.servicePort }}

