apiVersion: v1
kind: Service
metadata:
  name: {{ template "dgraph.alpha.fullname" . }}
  namespace: {{ include "dgraph.namespace" . }}
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: "alpha"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    monitor: "alpha-dgraph-io"
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      name: http-alpha
    - port: 9080
      name: grpc-alpha
  selector:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: "alpha"
    release: {{ .Release.Name }}
