{{- if .Values.metricsPort }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{.Values.name}}
  labels:
    app: {{.Values.name}}
    release: prometheus
spec:
  selector:
    matchLabels:
      app: {{.Values.name}}
  endpoints:
    - port: metrics-port
      interval: {{.Values.metricsScrapeInterval }}
      path: /metrics
    {{- if .Values.injectIstio }}
    - interval: 15s
      path: /stats/prometheus
      port: http-envoy-prom
    {{- end }}
{{- end }}
---