apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-solr-security-config
data:
  security.json: |
    {
      "authentication":{
        "blockUnknown": false,
        "class":"solr.BasicAuthPlugin",
        "credentials":{"admin":"{{ include "solr.hashPassword" . }}"},
        "realm":"Solr users",
        "forwardCredentials": false
      },
      "authorization":{
        "class":"solr.RuleBasedAuthorizationPlugin",
        "permissions":[{"name":"security-edit",
            "role":"admin"}],
        "user-role":{ "admin":"admin"}
      }
    }