{{- $secretName := printf "%s-solr-root-secret" .Release.Name }}

{{/* Generate a strong root password only if not already set */}}
{{- $generatedRootPassword := printf "%s" (randAlpha 6 | lower ) }}

{{- $rootPassword := $generatedRootPassword }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  {{- if .Release.IsInstall }}
  root-password: {{ $rootPassword | b64enc }}
    {{ else }}
  root-password: {{ index (lookup "v1" "Secret" .Release.Namespace  $secretName ).data "root-password" }}
    {{ end }}