apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-solr
  namespace: {{ .Release.Namespace }}
  labels:
    app: solr
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: solr
  serviceName: {{ .Release.Name }}-solr
  template:
    metadata:
      labels:
        app: solr
    spec:
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        fsGroup: {{ .Values.securityContext.fsGroup }}
      containers:
        - name: solr
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8983
          env:
            - name: SOLR_HOME
              value: "/var/solr/data"
            - name: SOLR_JAVA_MEM
              value: "-Xms4g -Xmx4g"
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          livenessProbe:
            httpGet:
              path: /solr/
              port: 8983
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /solr/
              port: 8983
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          volumeMounts:
            - name: solr-data
              mountPath: /var/solr
  volumeClaimTemplates:
    - metadata:
        name: solr-data
      spec:
        accessModes: {{ toJson .Values.persistence.accessModes }}
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
