image:
  repository: cockroachdb/cockroach
  tag: latest
  pullPolicy: IfNotPresent

clusterDomain: cluster.local

conf:
  attrs: []
    # - x16c
    # - gpu
  cache: 25%
  cluster-name: ""
  disable-cluster-name-verification: no

  join: []

  logtostderr: INFO

  max-disk-temp-storage: 0

  max-offset: 500ms

  max-sql-memory: 25%

  #   locality: country=ca,region=ca-east,datacenter=ca-east-2,rack=4
  locality: ""

  # Run CockroachDB instances in standalone mode with replication disabled
  # (replication factor = 1).
  # Enabling this option makes the following values to be ignored:
  # - `conf.cluster-name`
  # - `conf.disable-cluster-name-verification`
  # - `conf.join`
  #
  # WARNING: Enabling this option makes each deployed Pod as a STANDALONE
  #          CockroachDB instance, so the StatefulSet does NOT FORM A CLUSTER.
  #          Don't use this option for production deployments unless you clearly
  #          understand what you're doing.
  #          Usually, this option is intended to be used in conjunction with
  #          `statefulset.replicas: 1` for temporary one-time deployments (like
  #          running E2E tests, for example).
  single-node: no

  sql-audit-dir: ""

  # CockroachDB's port to listen to inter-communications and client connections.
  port: 26257

  # CockroachDB's port to listen to HTTP requests.
  http-port: 8080

statefulset:
  replicas: 3
  updateStrategy:
    type: RollingUpdate
  podManagementPolicy: Parallel
  budget:
    maxUnavailable: 1

  args: []
    # - --disable-cluster-name-verification

  env: []
    # - name: COCKROACH_ENGINE_MAX_SYNC_DURATION
    #   value: "24h"

  secretMounts: []

  labels:
    app.kubernetes.io/component: cockroachdb

  annotations: {}

  nodeAffinity: {}

  podAffinity: {}

  podAntiAffinity:
    type: soft
    weight: 100

  nodeSelector: {}

  tolerations: []


resources:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 512Mi


service:
  ports:
    grpc:
      external:
        port: 26257
        name: grpc
      internal:
        port: 26257
        name: grpc-internal
    http:
      port: 8080
      name: http
  public:
    type: ClusterIP
    labels:
      app.kubernetes.io/component: cockroachdb
    annotations: {}
  discovery:
    labels:
      app.kubernetes.io/component: cockroachdb
    annotations: {}

init:
  labels:
    app.kubernetes.io/component: init

  annotations: {}

  affinity: {}

  nodeSelector: {}

  tolerations: []

  resources: {}

tls:
  enabled: no
  serviceAccount:
    create: yes
    name: "test"
  certs:
    provided: no
    clientRootSecret: cockroachdb-root
    nodeSecret: cockroachdb-node
    tlsSecret: no

  init:
    image:
      repository: cockroachdb/cockroach-k8s-request-cert
      tag: "0.4"
      pullPolicy: IfNotPresent

storage:
  hostPath: ""

diskSize : 10Gi