apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: true
metadata:
  name: {{ template "dgraph.serviceAccountName" . }}
  namespace: {{ include "dgraph.namespace" . }}
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: "alpha"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}