{{- if and .Values.service.nginx .Values.service.nginx.host }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-superset
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "superset.name" . }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/auth-realm: ""
    nginx.ingress.kubernetes.io/auth-secret: ""
    nginx.ingress.kubernetes.io/auth-type: ""
spec:
  rules:
    - host: {{ .Values.service.nginx.host }}
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ template "superset.fullname" . }}
                port:
                  number: 8088
  tls:
    - hosts:
        - '{{ .Values.service.nginx.tlshost | default .Values.service.nginx.host }}'
      secretName: {{ .Values.service.nginx.tlsSecretname | default "tls-secret-replica" }}
{{- end }}