apiVersion: v1
kind: Service
metadata:
  name: {{ template "superset.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "superset.name" . }}
    chart: {{ template "superset.chart" . }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: 8088
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ template "superset.name" . }}
    release: {{ .Release.Name }}
