apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "superset.fullname" . }}-init-db
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "superset.name" . }}
    chart: {{ template "superset.chart" . }}
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": "before-hook-creation"
spec:
  template:
    metadata:
      name: {{ template "superset.fullname" . }}-init-db
    spec:
      securityContext:
        runAsUser: 0
      initContainers:
        - name: wait-for-postgres
          image: apache/superset:dockerize
          imagePullPolicy: IfNotPresent
          env:
            - name: "DB_PASS"
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgres-root-secret
                  key: postgres-password
            - name: "DB_USER"
              value: postgres
          envFrom:
            - secretRef:
                name: '{{ template "superset.fullname" . }}-env'
          command:
            - /bin/sh
            - -c
            - dockerize -wait "tcp://$DB_HOST:$DB_PORT" -timeout 120s
      containers:
      - name: {{ template "superset.name" . }}-init-db
        image: "apachesuperset.docker.scarf.sh/apache/superset:4.1.1"
        env:
          - name: "DB_PASS"
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-postgres-root-secret
                key: postgres-password
          - name: "DB_USER"
            value: postgres
        envFrom:
          - secretRef:
              name: {{ template "superset.fullname" . }}-env
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: superset-config
            mountPath: "/app/pythonpath"
            readOnly: true
        command:
          - "/bin/sh"
          - "-c"
          - ". /app/pythonpath/superset_bootstrap.sh; . /app/pythonpath/superset_init.sh"
        resources:
          requests:
            cpu: 250m
            memory: 250Mi 
          limits:
            cpu: 500m
            memory: 500Mi
      volumes:
        - name: superset-config
          secret:
            secretName: {{ template "superset.fullname" . }}-config
      restartPolicy: Never
