apiVersion: v1
kind: Secret
metadata:
  name: {{ template "superset.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "superset.fullname" . }}
    chart: {{ template "superset.chart" . }}
    release: "{{ .Release.Name }}"
type: Opaque
stringData:
  superset_config.py: |
    {{- include "superset-config" . | nindent 4 }}
  superset_init.sh: |
    {{- tpl .Values.init.initscript . | nindent 4 }}
  superset_bootstrap.sh: |
    #!/bin/bash
    pip install psycopg2-binary==2.9.6 \
      sqlalchemy-bigquery==1.6.1 \
      elasticsearch-dbapi==0.2.5 &&\
    if [ ! -f ~/bootstrap ]; then echo "Running Superset with uid 0" > ~/bootstrap; fi