apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mosquitto.fullname" . }}-connection
  labels:
    app.kubernetes.io/name: {{ include "mosquitto.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  MQTT_HOST: "{{ include "mosquitto.fullname" . }}"
  MQTT_PORT: "1883"  
  {{- if .Values.tls.enabled }}
  MQTT_TLS_PORT: "8883"  
  MQTT_TLS_ENABLED: "true"
  {{- else }}
  MQTT_TLS_ENABLED: "false"
  {{- end }}
  MQTT_SERVICE_TYPE: "{{ .Values.service.type }}"