{{- if .Values.supersetCeleryFlower.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "superset.fullname" . }}-flower
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "superset.name" . }}-flower
    chart: {{ template "superset.chart" . }}
    release: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
    {{- include "supersetCeleryFlower.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include "superset-config" . | sha256sum }}
      labels:
        app: "{{ template "superset.name" . }}-flower"
        release: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 0
      initContainers:
        - name: wait-for-postgres-redis
          image: apache/superset:dockerize
          imagePullPolicy: IfNotPresent
          env:
            - name: "DB_PASS"
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgres-root-secret
                  key: postgres-password
            - name: "DB_USER"
              value: postgres
          envFrom:
            - secretRef:
                name: '{{ template "superset.fullname" . }}-env'
          command:
            - /bin/sh
            - -c
            - dockerize -wait "tcp://$DB_HOST:$DB_PORT" -wait "tcp://$REDIS_HOST:$REDIS_PORT" -timeout 120s
      containers:
        - name: "{{ .Chart.Name }}-flower"
          image: "apachesuperset.docker.scarf.sh/apache/superset:4.1.1"
          imagePullPolicy: IfNotPresent
          command: 
            - "/bin/sh"
            - "-c"
            - pip install psycopg2-binary==2.9.6 
            - "celery --app=superset.tasks.celery_app:app flower"
          env:
            - name: "DB_PASS"
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgres-root-secret
                  key: postgres-password
            - name: "DB_USER"
              value: postgres
          envFrom:
            - secretRef:
                name: {{ template "superset.fullname" . }}-env
          ports:
            - name: flower
              containerPort: 5555
              protocol: TCP
          volumeMounts:
            - name: superset-config
              mountPath: "/app/pythonpath"
              readOnly: true
          startupProbe:
            httpGet:
              path: /api/workers
              port: flower
            initialDelaySeconds: 5
            timeoutSeconds: 1
            failureThreshold: 60
            periodSeconds: 5
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /api/workers
              port: flower
            initialDelaySeconds: 5
            timeoutSeconds: 1
            failureThreshold: 3
            periodSeconds: 5
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /api/workers
              port: flower
            initialDelaySeconds: 5
            timeoutSeconds: 1
            failureThreshold: 3
            periodSeconds: 5
            successThreshold: 1
          resources:
            requests:
              cpu: 250m
              memory: 250Mi 
            limits:
              cpu: 500m
              memory: 500Mi
      volumes:
        - name: superset-config
          secret:
            secretName: {{ template "superset.fullname" . }}-config
{{- end -}}
